.title {
    color: rgb(255, 255, 255);
    background-color: rgb(165, 165, 176);
    /* 1rem=16px */
    font-size: 64px;
    height: 5rem;
    line-height: 5rem;
    margin: 32px 32px;
    padding: 12px 6px 12px 6px;
    text-align: center;
}
.subtitle{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(165, 165, 176);
    border-radius: 12px;
    font-size: 32px;
    height: 3rem;
    line-height: 3rem;
    margin: 12px 0px;
    padding: 12px 6px;
    
}
#container{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.text-1{
    background-color: blanchedalmond;
    padding: 3px 12px;
    text-align: left;
    font-family: 'Microsoft JhengHei';
}

.text-2{
    background-color:yellow;
    padding: 6px;
    color: rgb(11, 11, 11);
    border-radius: 12px;
    border: 2px solid black;
    text-align: center;
}
.text-3{
    font-size: 32px;
}

mark{
    background-color: rgb(255, 47, 47);
}

.good-line{
    text-align: left;
}

.good-line a{
    text-decoration: none;
    color: orange;
}
.good-line a:hover{
    color: blueviolet;
}

#image{
    background-color:blanchedalmond ;
}

#image img{
    background-color: white;
    padding: 3px;

}

body{
    background-color: white;
    font-family: 'Microsoft JhengHei';
}

table{
    border: 4px solid gold;
    margin: 0 auto;
    margin-top: 20px;
    height: 300px;
    text-align: center;
}

th{
    font-size: 18px;
    border: 1px solid gold;
    background-color: rgb(251, 230, 202);
    color: rgb(18, 148, 148);
}

tbody{
    border: 1px solid gold;
    background-color: rgb(255, 255, 255);
    /* color: rgb(5, 5, 4); */
    font-size: 16px;
}
td:first-child{
    font-size: 18px;
    font-weight: 900;
    background-color: rgb(251, 230, 202);
    color: rgb(18, 148, 148);
}

#video{
    background-color: aquamarine;
    padding: 12px;
    color: rgb(97, 104, 109);
    font-size: large;
}
input, 
textarea, 
button {
    font-size: 20px;
    margin-bottom: 20px;

}

form{
    background-color: blanchedalmond;
    border-radius: 14px;
    padding: 36px 0px;
}

#email{
    margin-left: 10px;
    margin-bottom: 15px;
}

#info{
    margin-top: 10px;
}

#video button{
    background-color: bisque;
    width: 100px;
    height: 40px;
    color: black;
    border-radius: 6px;
    border: 10;
}

@media screen and (max-width:1600px) {
    form{
        width: 100%;
    }
}
@media screen and (max-width:800px) {
    form{
        width: 100%;
    }
}